{% extends 'base.html' %}
{% load static %}


{% block head_title %}Buld your SaaS Now - {{ block.super }}{% endblock head_title %}


{% block content %}

{% include 'landing/hero.html' %}
{% include 'landing/features.html' %}
{% include 'landing/proof.html' %}

<div id="react-cta-root"></div>

{% endblock content %}

{% block extra_js %}
<script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
<script src="{% static 'js/react-cta.js' %}"></script>
{% endblock extra_js %}
